body {
    background-color: #F3DBDC;
    position: relative;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color: rgb(8, 8, 8);
    padding-top: 10px;
    margin-left: 10px;
}

.navbar {
    background-color: #85c06e;
    height: 40px;
    width: 100%;
}

.header {
    background-color: #e7a7ae;
    height: 150px;  
}

.m {
    height: 400px;
    background-color: #e7a7ae;
    margin-top: 15px;   
}

table {
    width: 500px;
    text-align: left;
    margin-left: 20px;
}

table, th, tr, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 0,5rem 1rem;
}
tr:nth-child(1) {
    background-color: #f3c3c9;
}
.m1 {
    height: 1440px;
    background-color: #e7a7ae;
}

img {
    width: 200px;
    filter: opacity(100%);
    margin-left: 20px;
    
}
.m2 {
    height: 420px;
    background-color: #e7a7ae;
    margin-top: 15px;
    padding-left: 20px;   
}

.m3 {
    height: 220px;
    background-color: #e7a7ae;
    margin-top: 15px;   
}

.m4 {
    height: 80px;
    background-color: #e7a7ae;
    margin-top: 15px;
      
}

checkbox {
    padding-left: 20px;
}

h3 {
    color: #d45e6c;
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
}

h4 {
    color: #d45e6c;
    text-align: left;
    padding-left: 20px;
}

p {
    color: #000000;
    padding-left: 20px;
    
}

button {
    background-color: #85c06e;
    color: #000000;
    width: 200px;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    position: inline-block;
    
}
.footer {
    background-color: #85c06e;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    
}

.footer-text {
    color: #ffffff;
    margin-top: 15px;
}
